* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
  box-sizing: border-box;
}

.content-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #6d28d9, #0b0b0f);
  padding: 10px;
}

.my-to-do-app {
  width: 100%;
  max-width: 580px;
  background: lightblue;
  margin: 120px auto 10px;
  padding: 65px 30px 70px;
  border-radius: 20px;
}

.my-to-do-app h1 {
  color: #0d4196;
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 15px;
}

.my-to-do-app h1 img {
  width: 70px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0ec;
  border-radius: 25px;
  padding-left: 30px;
  margin-bottom: 25px;
}
